/*Dashboard*/
/*moved 4:50PM*/
body.dashboard{
    height: 100vh;
}


main.dashboard {
    display: flex;
    overflow: hidden;
}

main .left {
    width: 28%;
    overflow-y: scroll;
}

main .left .tasks-header {
    position: sticky;
    top: 0;
    background-color: white;
    margin-bottom: 2%;
    padding: 3% 5% 3%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

main .left h1 {
    font-size: 3vh;
}

main .left h4.hint {
    font-weight: normal;
    padding-top: 0.5vh;
    font-size: 1.7vh;
}

main .left .tasks-pane .task {
    margin: 5%;
    padding: 4%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

main .left .tasks-pane .task:hover {
    scale: 103%;
}

main .right {
    display: flex;
    flex-direction: column;
    width: 72%;
}

main .right .calendar-pane {
    display: flex;
    flex: none;
    padding: 2vh;
    height: 65%;
    background-color: rgb(255, 255, 255);
}

.announcement-header {
    height: 5%;
    display: flex;
    flex-direction: row;
}

.announcement-header h1 {
    margin-left: 1.5vw;
    padding: 0.8vh;
    font-size: 3vh;
}

.announcement-header a {
    margin-left: auto;
    margin-right: 2vw;
    padding: 1vh;
    font-size: 2vh;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.announcement-header a:hover {
    color: red;
}

.announcements-pane {
    height: 30%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.announcements-pane .announcements-new {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex: none;
    overflow: hidden;
    margin: 2% 1% 2% 2%;
    padding: 1.5% 2% 2% 2%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}

.announcements-pane .announcements-new:hover {
    scale: 103%;
}

.announcements-pane .announcements-new .announcement-title {
    height: 2.6vh;
    display: flex
}

.announcements-pane .announcements-new .announcement-title h2 {
    width: 80%;
    font-size: 2.6vh;
    padding: 0.5vh 2vh 1vh 0vh;
    overflow: hidden;
}

.announcements-pane .announcements-new .announcement-body {
    flex: none;
    padding-top: 2%;
    margin-bottom: auto;
    text-overflow: ellipsis;
}

.announcements-pane .announcements-new p {
    font-size: 1.7vh;
}

.close-announcement {
    margin-left: auto;
    color: #aaa;
    font-size: 3vh;
    font-weight: bold;
}

.close-announcement:hover,
.close-announcement:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}