/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */

    position: fixed;
    /* Stay in place */

    z-index: 2;
    /* Sit on top */

    left: 0;
    top: 0;
    width: 100%;
    /* Full width */

    height: 100%;
    /* Full height */

    background-color: rgb(0, 0, 0);
    /* Fallback color */

    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 8% auto;
    /* 15% from the top and centered */

    padding: 3vh 4vh;
    border: 1px solid #888;
    border-radius: 15px;
    width: 35%;
    /* Could be more or less, depending on screen size */
}

.modal-content .modal-header {
    display: flex;
}

.modal-content .modal-header h1 {
    font-size: 1.5vw;
    margin: 0px;
    padding: 0.5vh 2vh 1vh 0vh;
}

.modal-content .modal-submit {
    display: flex;
}

.modal-content .modal-submit .submit-button {
    margin-left: auto;
    margin-top: 3vh;
    padding: 1.5vh;
}

.modal-content .modal-body {
    display: flex;
    flex-direction: column;
}

.modal-content .modal-body label {
    padding: 2vh 0vh;
    font-weight: bold;
}

.modal-content .modal-body .announcement_title {
    padding: 1vh;
    font-size: 1.2em;
    margin-bottom: 1vh;
}

.modal-content .modal-body .announcement_description {
    font-family: sans-serif;
    height: 15vh;
    padding: 1vh;
    font-size: 1em;
    resize: none;
}

.modal-content .modal-body .expanded-title {
    font-size: 1.25vw;
    padding: 2vh 0vh 1vh 0vh;
}

.modal-content .modal-body .expanded-description {
    font-size: 0.938vw;
    padding-top: 1.6vh;
    font-weight: normal;
}

.modal-content .modal-body .modal-buttons {
    display: flex;

}

.modal-content .modal-body h4 {
    padding: 5vh 0vh 2vh 0vh;
    color: red;
    margin-left: auto;
    margin-right: auto;
}

.modal-content .modal-body .modal-buttons button {
    width: 50%;
    margin: 2vh;
    height: 5vh;
}

/* The Close Button */
.close {
    margin-left: auto;
    color: #aaa;
    font-size: 2vw;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}